table {
    border-spacing: 5px 50px; /* Горизонтальный отступ, вертикальный отступ */
}

.styled-select select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}

.styled-select {
    width: 240px;
    height: 34px;
    overflow: hidden;
    background: url(1.jpg) no-repeat right #ddd;
    border: 2px solid black;
}

#button {
    float: right;
    margin-top: 38px;
    margin-right: 10%;
    margin-left: 5px;

    width: 15%;
    height: 40px;
}